@charset "UTF-8";

@font-face {
	font-family: 'KOTRAHOPE';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: KOTRAHOPE, sans-serif;
	box-sizing: border-box;
	margin: 0;
}

.Footer {
	position: absolute;
	bottom: 0vh;
	background: #f8f87f;
	width: 100%;
	text-align: center;
	padding: 25px 20px;
	font-size: 20px;
}